.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-book {
  background:#808080;
  color:blue;
}
.fa-edit{
	background: #808080;
	color:blue;
}
.fa-pencil-alt{
	background: #808080;
	color:blue;
}
.fa-book-open{
  background: #808080;
  color:blue;
}
